.dashboard {
  height: 100vh;
  width: 100vw;
  position: fixed;
}
.dashboard .css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover {
  background-color: rgb(95, 172, 95);
  width: 115px;
}
.top-nav {
  display: flex;
  height: 10vh;
  width: 95vw;
  padding-top: 15px;
}
.dashboard .title-img {
  display: flex;
  justify-content: flex-start;
  padding-left: 3vh;
  height: 6vh;
  width: 10vw;
}
.dashboard .search-input {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-left: 70%;
  width: 120px;
  height: 20px;
  /* padding-left: 80rem; */
  border-radius: 10px;
}
.dashboard .notigfication-logo {
  width: 55px;
  margin-left: 25px;
  margin-top: 15px;
}
.top-nav .Line-chart {
  width: 60px;
  height: 20px;
  display: flex;
  justify-content: center;
  /* display: flex; */
  /* margin-right: 25%; */
}
.top-nav .chart1-r {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.top-nav .charts {
  height: 100vh;
  width: 80vw;
}
.dashboard .sidebar {
  position: relative;
  width: 70px;
  margin-top: 50px;
  margin-left: 15px;
}
/* .top-nav .sidebar {
  height: 100vh;
  width: 20vw;
} */
.top-nav .charts2 {
  height: 100vh;
  width: 20vw;
}
.top-nav .linechart {
  height: 45vh;
  width: 85vw;
}
.dashboard .container {
  display: flex;
  justify-content: flex-start;
  margin-left: 105px;
  width: 100vw;
  height: 88.5vh;
  background: rgb(236, 235, 235);
}
.top-nav .card-row {
  margin-top: 85px;
}
.dashboard .badges {
  display: flex;
  justify-content: flex-end;
  gap: 5;
}
.dashboard .card-1-text {
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
}
.dashboard .css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover {
  background-color: rgb(95, 172, 95);
  width: 115px;
}
.top-nav .card-1 {
  height: 05px;
  display: flex;
  justify-content: center;
  width: 66vw;
  margin-top: 25px;
}
.top-nav .card-2 {
  height: 20rem;
  width: 30rem;
}
.top-nav .card-3 {
  height: 20rem;
  width: 30rem;
}
.top-nav .card-4 {
  height: 20rem;
  width: 20rem;
}
.dashboard .button-new {
  display: flex;
  justify-content: flex-end;
  /* margin-left: 65px; */
}
@media (max-width: 1750px) {
  .dashboard {
    height: 90vh;
    width: 100vw;
    position: relative;
  }
  .dashboard .title-img {
    display: flex;
    justify-content: flex-start;
    padding-left: 3vh;
    height: 6vh;
    width: 10vw;
  }
  .dashboard .css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover {
    background-color: rgb(95, 172, 95);
    width: 115px;
  }
  .dashboard .order-table {
    width: 280px;
  }
  .dashboard .css-lmilxk-MuiTypography-root {
    display: flex;
    justify-content: center;
    margin-left: 15px;
  }
  .dashboard .search-input {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-left: 80%;
    width: 120px;
    height: 20px;
    /* padding-left: 80rem; */
    border-radius: 10px;
  }
  .dashboard .notigfication-logo {
    width: 55px;
    margin-left: 25px;
    margin-top: 15px;
  }
  .dashboard .container {
    display: flex;
    justify-content: flex-start;
    margin-left: 105px;
    width: 100vw;
    height: 89.25vh;
    background: rgb(236, 235, 235);
  }
  .dashboard .svg {
    height: 325px;
    width: 505px;
  }
  .dashboard .card-1-text {
    display: flex;
    justify-content: flex-start;
    /* margin-left: 180px; */
    font-size: 16px;
  }
  .dashboard .button-new {
    display: flex;
    justify-content: flex-end;
    /* margin-right: 95px; */
  }
  .top-nav {
    display: flex;
    height: 8vh;
    width: 85vw;
    padding-top: 15px;
  }
  .dashboard .css-x90y38-MuiPaper-root {
    height: 285px;
    width: 715px;
  }
}
@media (max-width: 1550px) {
  .dashboard {
    height: 80vh;
    width: 100vw;
    position: relative;
  }
  .dashboard .css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover {
    background-color: rgb(95, 172, 95);
    width: 115px;
  }
  .dashboard .container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin-left: 105px;
    width: 100vw;
    height: 100vh;
    background: rgb(236, 235, 235);
  }
  .dashboard .title-img {
    display: flex;
    justify-content: flex-start;
    padding-left: 55vh;
    height: 6vh;
    width: 10vw;
  }
  .dashboard .css-x90y38-MuiPaper-root {
    height: 205px;
    width: 525px;
  }
  .dashboard .search-input {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    margin-left: 100%;
    width: 120px;
    height: 20px;
    /* padding-left: 80rem; */
    border-radius: 10px;
  }
  .dashboard .notigfication-logo {
    width: 55px;
    margin-left: 35px;
    margin-top: 15px;
  }
  .dashboard .linechart {
    height: 280px;
    width: 240px;
  }
  .dashboard .css-lmilxk-MuiTypography-root {
    display: flex;
    justify-content: flex-start;
    /* margin-left: 15px; */
  }
  .dashboard .badges {
    display: flex;
    justify-content: center;
  }
  .top-nav {
    display: flex;
    justify-content: space-evenly;
    height: 8vh;
    width: 65vw;
    padding-top: 15px;
  }
  .dashboard .svg:not(:root) {
    height: 150px;
    width: 300px;
  }
}
@media (max-width: 1280px) {
  .dashboard {
    height: 65vh;
    width: 100vw;
    position: relative;
  }
  .dashboard .css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover {
    background-color: rgb(95, 172, 95);
    width: 115px;
  }
  .dashboard .container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin-left: 105px;
    width: 100vw;
    height: 95vh;
    background: rgb(236, 235, 235);
  }
  .dashboard .title-img {
    display: flex;
    justify-content: flex-start;
    padding-left: 55vh;
    height: 6vh;
    width: 10vw;
  }
  .dashboard .css-x90y38-MuiPaper-root {
    height: 235px;
    width: 495px;
  }
  .dashboard .search-input {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    margin-left: 100%;
    width: 120px;
    height: 20px;
    /* padding-left: 80rem; */
    border-radius: 10px;
  }
  .dashboard .notigfication-logo {
    width: 55px;
    margin-left: 35px;
    margin-top: 15px;
  }
  .dashboard .linechart {
    height: 280px;
    width: 240px;
  }
  .dashboard .css-lmilxk-MuiTypography-root {
    display: flex;
    justify-content: flex-start;
    /* margin-left: 15px; */
  }
  .dashboard .badges {
    display: flex;
    justify-content: center;
  }
  .top-nav {
    display: flex;
    justify-content: space-evenly;
    height: 10vh;
    width: 65vw;
    padding-top: 15px;
  }
  .dashboard .svg:not(:root) {
    height: 150px;
    width: 300px;
  }
}
